.font12 {
  font-size: 12px; /*px*/
}

.font14 {
  font-size: 14px; /*px*/
}

.font16 {
  font-size: 16px; /*px*/
}

.font18 {
  font-size: 18px; /*px*/
}

.font20 {
  font-size: 20px; /*px*/
}

.font22 {
  font-size: 22px; /*px*/
}

.font24 {
  font-size: 24px; /*px*/
}

.font26 {
  font-size: 26px; /*px*/
}

.font26 {
  font-size: 26px; /*px*/
}

.font28 {
  font-size: 28px; /*px*/
}

.font30 {
  font-size: 30px; /*px*/
}

.font32 {
  font-size: 32px; /*px*/
}

.font34 {
  font-size: 34px; /*px*/
}

.font36 {
  font-size: 36px; /*px*/
}
